
/* Główny kontener */
.container {
	display: flex;
	flex-direction: column;
	gap: 40px; /* Odstęp między sekcjami */
}

/* Sekcja */
.section {
	border-top: 2px solid black;
	padding-top: 20px;
}

/* Tytuł sekcji */
.sectionTitle {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
}

/* Układ kart w sekcji */
.ticketGrid {
	display: flex;
	justify-content: center;
	gap: 20px; /* Odstęp między biletami */
	flex-wrap: wrap;
}
