.topBar {
	width: 100%;
	background-color: var(--main-color);
	color: var(--on-main);
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.homeButton {
	margin-left: 10px;
}
.backHomeIcon {
	margin-left: 10px;
	height: 2rem;
	width: 2rem;
	color: var(--on-main);
}
.logo {
	display: block;
	color: var(--on-main);
	text-decoration: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.logo h1 {
	margin: 0;
	font-size: 1.2rem;
}
.topBarButtons {
	margin-right: 10px;
}

.buttonGroup {
	display: inline;
	margin: 0 0.5rem;
}

.button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	transition: background-color 0.3s;
}

.buttonImg {
	height: 3rem;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.logo {
		display: none;
	}
}

@media (max-width: 500px) {
	.logo {
		display: initial;
	}

	.button {
		display: none;
	}
}

@media (max-width: 1500px) {
	:root[data-font-size="larger"] .logo {
		display: none;
	}
}

@media (max-width: 750px) {
	:root[data-font-size="larger"] .logo {
		display: initial;
	}

	:root[data-font-size="larger"] .button {
		display: none;
	}
}

@media (max-width: 2000px) {
	:root[data-font-size="largest"] .logo {
		display: none;
	}
}

@media (max-width: 1000px) {
	:root[data-font-size="largest"] .logo {
		display: initial;
	}

	:root[data-font-size="largest"] .button {
		display: none;
	}
}
