.homeBody {
	font-family: Arial, sans-serif;
	background-color: var(--bg-grey);
	margin: 0;
	padding: 0;
	text-align: center;
}
.content {
	height: 90vh;
	margin-top: 30px;
}
.buttonBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.navlink {
	margin: 10px;
	width: 300px;
}
.buttonBox button {
	width: 100%;
	background-color: var(--main-color);
	color: var(--bg-grey);
	border: none;
	padding: 20px 50px;
	margin: 10px;
	font-size: 18px;
	border-radius: 10px;
	transition: background-color 0.3s;
}
.buttonBox button:hover {
	background-color: var(--main-color-variant);
}
.reportProblemContainer {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 90%;
	top: 80%;
}
.reportProblemContainer p {
	font-size: 15px;
}
