.ticketContent {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: calc(100vh - 60px);
	padding: 20px;
	box-sizing: border-box;
}
.leftSection {
	flex: 0 0 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.qrCodePlaceholder {
	width: 250px;
	height: 250px;
	background-color: #e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ticketInfo {
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	text-align: center;
}

.ticketInfo p {
	margin: 8px 0;
}

.rightSection {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rightSection h2 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.rightSection h3 {
	font-size: 20px;
	color: #000;
	margin-top: 10px;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 30px;
	width: 70%;
}

.yourTicketButton {
	background-color: var(--main-color);
	color: white;
	border: none;
	padding: 15px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	margin: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.yourTicketButton:hover {
	background-color: var(--main-color-variant);
}

.paragraph {
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.6;
}
.bolded{
	font-weight: bold;
}
.enlarge{
	font-size: 32px;
}
.redParagraph {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
	line-height: 1.6;
	color: red;
}
.greenParagraph {
	font-size: 32px;
	margin-bottom: 20px;
	line-height: 1.6;
	color: green;
}
.redParagraphSmaller {
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.6;
	color: red;
}
.greenParagraphSmaller {
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.6;
	color: green;
}



/* popup style */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(0.25rem);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popupContent {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	width: 400px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popupTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.popupText {
	font-size: 16px;
	margin-bottom: 20px;
}

.popupGrid {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.popupGrid button {
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.popupGrid button:hover {
	background-color: #218838;
}