.wrapper {
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	margin: 0 auto;
}

.search {
	border: 1px solid var(--fg-color);
	color: var(--fg-color);
	border-radius: 0.5rem;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	margin: 0.5rem;
}

.search::placeholder {
	color: var(--fg-grey);
}

.content {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.noresults {
	color: var(--fg-grey);
	text-align: center;
}
