.ticketBody {
	font-family: Arial, sans-serif;
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
	text-align: center;
}
.content {
	position: relative;
	height: 100vh;
	margin-top: 30px;
}
.ticketGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 15px;
	max-width: 900px;
	margin: 0 auto;
	justify-items: center;
}
.toggleButtonsContainer {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
}
.questionMarkContainer {
	position: absolute;
	top: 3px;
	right: 40px;
	width: 50px;
}
.questionMarkButton {
	border: none;
	color: var(--fg-color);
	background-color: var(--bg-color);
	cursor: pointer;
}
.questionMarkIcon {
	width: 2rem;
	height: 2rem;
}

.toggleButton {
	width: 150px;
	flex: 1;
	padding: 10px;
	font-size: 1rem;
	background-color: var(--bg-color);
	color: var(--fg-color);
	border: 1px solid var(--fg-color);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	box-shadow: 0 4px 8px var(--shadow-color);
	margin: 0 5px;
}

.toggleButton.active {
	background-color: var(--main-color);
	color: var(--on-main);
	border-color: var(--main-color);
}
@media (max-width: 1000px) {
	.ticketGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.ticketGrid {
		grid-template-columns: 1fr;
	}
}
